@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree:300,300i,400,400i,500,500i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Mogra');


/* COLORS 

dk-green #127962
green #1BB996
lt-green #29E8BC

dk-yellow #BC9B1E
yellow #FBC700

lt-blue #BABAED
blue #23238C

dk-gray #2A2A2E
med-gray #D1CFD7
lt-gray #F6F6F8

*/

body {
  margin: 0 auto;
  color: white;
  font-family: 'Bai Jamjuree', sans-serif;
}


h1, h2, h3, h4, h5 {
/*  font-family: 'Mogra', Helvetica, sans-serif;
*/}

h1 {
  font-size: 2.8em;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.section {
  margin: 0 auto;
  text-align: center;
  padding: 4em 2em;
}

a.button {
  padding: 15px 25px;
  border-radius: 25px;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #FBC700;
  border-bottom: 4px solid #BC9B1E;
  color: #2A2A2E;
  font-weight: 500;
  font-size: 1.2em;
}
a.button:hover {
  background-color: #BC9B1E;
  border-bottom: transparent;
  border-bottom: 4px solid #2A2A2E;
}


/* HERO SECTION */

.section.hero {
  padding: 2em;
  background-image: linear-gradient(to bottom right, #127962, #1bb996, #29E8BC);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  background-color:green;
}

.hero-img {
  width: 250px;
  margin:30px 0;
}

.section.hero h1 {
  font-size: 3.2em;
}

.section.hero h2 {
  font-weight: normal;
  font-size: 1.6em;
  margin-bottom:10px;
}

.section.hero p {
  font-style: italic;
  font-size: 1.1em;
  margin-top:0;
}

.section.hero h2 > a {
  text-decoration: none;
  color: white;
  font-weight: normal;
}

.section.hero h2 > a:hover {
  color: #23238C;
}

.flex-container {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-item {
  text-align: left;
  display: block;
  margin: 20px;
}

.flex-item.sm {
  flex-basis: 33%;
  text-align: right;
}
.flex-item.lg {
  flex-basis: 66%;
}


.flex-item h1 {
  color: white;
  margin: 0;
}

/* PHOTOS SECTION - TBD */
.section.photos {
  margin:0;
  padding: 0;
}
.photos-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

.section.photos img {
  display: inline-block;
  flex: 25%;
  max-width: 25%;
  background-color: #1bb996;
  height: 200px;
  width: 100%;
  object-fit: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.section.photos img:hover{
  filter:none;
}

.photos-container::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display:block;
    background-image: linear-gradient(120deg, #eaee44, #33d0ff);
    opacity: .7;
    z-index: 0;
}

.photos-container * {
  position:relative;
}

/* ABOUT SECTION */

.section.about {
  background: #2A2A2E;
}
.section.about h1 {
  color: #29E8BC
}

/* SCHEDULE SECTION */

.section.schedule {
  background: #FBC700;
}
.schedule a {
  color: #2A2A2E;
}
.schedule-time {
  color: #23238C;
  font-weight: 700;
}
.schedule-event {
  color: #2A2A2E;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.workshop {
  background-color: #23238C;
  font-size: .7em;
  font-weight: 500;
  color:white;
  padding: 1px 5px;
  margin-right: 5px;
}

/* SPEAKER SECTION */
.section.speakers {
  background-color: #23238C;
}
.section.speakers h1 {
  color: #FBC700;
}

.speakers a {
  color: #BABAED;
}

.speakers a:hover {
  color: #FBC700;
}
.speakers h2 {
  color: #BABAED;
  font-weight: 500;
  margin-bottom: 0;
}
.speakers h3 {
  margin: 4px 0 8px;
  font-style: italic;
}

.speakers img{
  max-height: 150px ;
  background-color: transparent;
  border-radius: 50%;
  object-fit: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.speakers img:hover{
  filter:none;
}
/* WORKSHOP SECTION */
.section.workshops {
  background-color: #29E8BC;
  color:#2A2A2E;
}
.section.workshops h1 {
  color: #2A2A2E;
}
.workshops .workshop {
  padding:10px;
  font-size: .85em;
  margin-bottom:20px;
}
.workshops .flex-container{
  background-color:white;
  color: #2A2A2E;
  margin-bottom: 10px;
}
.workshops .flex-item{
  margin: 0;
  padding: 20px;
}
.workshops .flex-item.sm {
  flex-basis:16%;
  align-self:flex-start;
}
.workshops .flex-item.sm.intro {
  text-align: left;
}
.workshops .flex-item.lg {
  align-self:flex-start;
  border-left: 1px solid #D1CFD7;
}
.workshops a {
  color: #BABAED;
}
.workshops h2.workshop-time {
  font-size:1em;
  font-color:#ddd;
}

.workshops a:hover {
  color: #FBC700;
}
.workshops h2 {
  margin-top: 0;
  color: #1BB996;
  font-weight: 500;
  margin-bottom: 0;
}
.workshops h3 {
  margin-top:30px;
  font-size:1em;
}
.workshops h4 {
  margin-top: 0;
  color: #D1CFD7;
  font-style: italic;
}

.workshops p {
  font-size:.85em;
}
.workshops.flex-item.sm {
  align-self:baseline;
}
.workshops img{
  max-height: 120px ;
  background-color: transparent;
  border-radius: 50%;
  object-fit: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.workshops img:hover{
  filter:none;
}


/* SPONSOR SECTION */

.section.sponsors {
  background: #2A2A2E;
}
.section.sponsors h1 {
  color: #29E8BC
}
.section.sponsors.flex-container {
  flex-shrink: 1;
}


.sponsors img.logo{
  max-height: 110px ;
  margin: 30px;
  max-width:90%;

  background-color: transparent;
  border-radius: 3px;
  -webkit-filter: brightness(0) invert(1);
}

.silver img.logo {
  max-height: 80px;
}

.sponsors img.logo:hover{
  -webkit-filter: none;
}
.section.sponsors p {
  font-size: 1.1em;
}
.section.sponsors a {
  color: #1BB996;
}
.section.sponsors a:hover {
  color: #127962;
}

/* FAQ SECTION */

.section.faq {
  background: #BABAED;
}
.section.faq h1 {
  color: #23238C;
}

.section.faq p {
  font-size: 1.1em;
  color: #2A2A2E;
}
.section.faq a {
  color: #23238C;
}
.section.faq a:hover {
  color: #1BB996;
}
.faq > .flex-container {
}

/*.flex-container {
    display: flex;
    justify-content: space-between;
    max-width:800px;
/*    height: 40rem;
}*/
.flex-col {
    flex-grow: 0;
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
}

.card-background {
    flex-basis: 0;
    flex-grow: 1;
}

.card-background.medium {
    flex-grow: 1.5
}

.card-background.large {
    flex-grow: 2
}

.card-wrapper {
    height: 100%;
}

.flex-card{
  text-align: left;
  background-color: white;
  border-bottom: 4px solid #ddd;
  border-right: 4px solid #ddd;
  padding: 15px;
  margin: 10px;
}

.flex-card h4{
  font-family: 'Bai Jamjuree', monospace;
  color: #23238C;
}
.section.faq .flex-card p {
  font-size: 1em;
  color: #2A2A2E;
}
.section.faq .flex-card a {
  text-decoration: none;
  font-weight: bold;
  color: #1BB996;
}
.section.faq .flex-card a:hover {
  color: #23238C;
}


/* FOOTER */

.footer {
  background-color: #363636;
  text-align: left;
  padding: 5em 2em 2em;
}
.footer a {
  color: #1BB996;
  font-size:1.7em;
}
.footer a:hover {
  color:#127962;
}
.footer small {
  margin-left: 20px;
}

@media (max-width: 600px) {

.flex-container {
  flex-wrap: wrap;
}
    .flex-item.lg,
    .flex-item.sm {
      text-align:center;
      flex-basis: 100%;
    }
    .section {
      padding: 3em 1em;
    }
    .flex-col {
      width: 100%;
    }

    .footer small {
      margin:10px 0 0 0;
      display:block;
    }

    .section.photos img {
      flex: 50%;
      max-width: 50%;
      height:120px;
    }

  .workshops .flex-item.lg {
    padding: 15px;
    border-left: transparent;
    border-top: 1px solid #BC9B1E;
  }

  .workshops .flex-item.sm {
    display:inline-flex;
    flex-basis: 100%;
    align-content: center;
    margin: 10px;
  }
  .workshops .flex-item.sm > * {
    margin: 0 10px;
  }
}
